<td-layout>
  <td-layout-manage-list #manageList
                         color="secondary"
                         [opened]="mediaService.registerQuery('gt-sm') | async"
                         [mode]="(mediaService.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                         [sidenavWidth]="(mediaService.registerQuery('gt-xs') | async) ? '300px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <span>Members</span>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!mediaService.query('gt-sm')">
      <aeq-members-nav></aeq-members-nav>
    </mat-nav-list>
    <mat-toolbar>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Members</span>
        <span fxFlex></span>

        <td-search-box #searchInput placeholder="Search"
                       [showUnderline]="false" [debounce]="500" [alwaysVisible]="false"
                       (searchDebounce)="onSearchDebounce($event)"
                       (clear)="searchInput.value = ''">
        </td-search-box>

      </div>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <button class="fab-add-member" mat-fab color="primary" (click)="onBtnAddMemberClick()">
          <mat-icon>add</mat-icon>
        </button>

        <mat-table [dataSource]="dataSource" matSort tdMediaToggle="xs" [mediaClasses]="['mat-table-xs']">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nickname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nickname</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nickname}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple (click)="displayMember(row)"></mat-row>
        </mat-table>

      </mat-card-content>
    </mat-card>

  </td-layout-manage-list>
</td-layout>
