<td-layout>
  <td-layout-manage-list #manageList
                         color="secondary"
                         [opened]="media.registerQuery('gt-sm') | async"
                         [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                         [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '300px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <span>Members</span>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <aeq-members-nav></aeq-members-nav>
    </mat-nav-list>
    <mat-toolbar>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
        <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Members</span>
        <span fxFlex></span>
      </div>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <button class="fab-add-member" mat-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>

        <table mat-table [dataSource]="dataSource" matSort tdMediaToggle="xs" [mediaClasses]="['mat-table-xs']">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
            <td mat-cell *matCellDef="let element"> {{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="nickname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.nickname}}</td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight</th>
            <td mat-cell *matCellDef="let element"> {{element.position}}</td>
          </ng-container>

          <ng-container matColumnDef="games">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol</th>
            <td mat-cell *matCellDef="let element"> {{element.games}}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="secondary">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="displayMember(row)"></tr>
        </table>
      </mat-card-content>
    </mat-card>

  </td-layout-manage-list>
</td-layout>
