@import '~@angular/material/theming';

@mixin aeq-custom-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .aeq-banner {
    width: 200px;
    height: 200px;
  }

  .aeq-container {
    width: 60%;
  }

  .aeq-login-container, .aeq-register-container {
    padding: 24px;
  }

  #login-form {
    width: 80%;
  }
}
