@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

$typography: mat-typography-config(

);

@include mat-core($typography);

$primary: mat-palette($mat-green, 800, 100, 900);
$accent: mat-palette($mat-gray, 600, 100, 900);
$warn: mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme, $typography);

.td-layout-nav-list-content .mat-icon {
  margin-right: 10px;
}

.td-navigation-drawer-content,.td-layout-manage-list-sidenav .mat-icon {
  margin-right: 16px;
}

.mat-table-xs th.mat-header-cell:first-of-type {
  padding-left: 6px !important;
}

.mat-table-xs td.mat-cell:first-of-type {
  padding-left: 6px !important;
}

.mat-sidenav-list-badge {
  padding-left: 12px;
}

.mat-list-item-content .mat-icon {
  margin-right: 16px;
}

.mat-stepper-action-bar {
  margin-top: 16px;
}
