<td-layout>
  <td-navigation-drawer flex sidenavTitle="AeQ Admins" name="Firstname Lastname"
                        email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item routerLink=".">
        <mat-icon>home</mat-icon>
        Home</a>
      <a mat-list-item routerLink="members">
        <mat-icon>people</mat-icon>
        Members</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>account_box</mat-icon>
          Profile</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>
