<td-layout>
  <td-layout-manage-list #manageList
                         color="secondary"
                         [opened]="media.registerQuery('gt-sm') | async"
                         [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                         [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
    <mat-toolbar td-sidenav-content>
      <span>Optional Title</span>
    </mat-toolbar>
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item>
        <mat-icon class="indent-list-icon">whatshot</mat-icon>
        Dashboard
      </a>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      <a mat-list-item routerLink="list">
        <mat-icon class="indent-list-icon">people</mat-icon>
        All Members
        <span class="mat-sidenav-list-badge" matBadge="4" matBadgeOverlap="false"></span>
      </a>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      <a mat-list-item routerLink="trials">
        <mat-icon class="indent-list-icon">timer</mat-icon>
        Trial Periods
      </a>
    </mat-nav-list>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
</td-layout>
